ClienteImperio/Connected Services/ServicioWebGalaxia/ServicioWebGalaxia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LecturaDeRegistro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cadena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LecturaDeRegistroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LecturaDeRegistroResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LecturaDeRegistroSoapIn">
    <wsdl:part name="parameters" element="tns:LecturaDeRegistro" />
  </wsdl:message>
  <wsdl:message name="LecturaDeRegistroSoapOut">
    <wsdl:part name="parameters" element="tns:LecturaDeRegistroResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebGalaxiaSoap">
    <wsdl:operation name="LecturaDeRegistro">
      <wsdl:input message="tns:LecturaDeRegistroSoapIn" />
      <wsdl:output message="tns:LecturaDeRegistroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebGalaxiaSoap" type="tns:ServicioWebGalaxiaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LecturaDeRegistro">
      <soap:operation soapAction="http://tempuri.org/LecturaDeRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebGalaxiaSoap12" type="tns:ServicioWebGalaxiaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LecturaDeRegistro">
      <soap12:operation soapAction="http://tempuri.org/LecturaDeRegistro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWebGalaxia">
    <wsdl:port name="ServicioWebGalaxiaSoap" binding="tns:ServicioWebGalaxiaSoap">
      <soap:address location="http://localhost:64575/ServicioWebGalaxia.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebGalaxiaSoap12" binding="tns:ServicioWebGalaxiaSoap12">
      <soap12:address location="http://localhost:64575/ServicioWebGalaxia.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>